.li__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 200px;
    margin: 5px;
    cursor: pointer;
  }
  
  .li__container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .li__container span {
    margin-right: 5px;
    text-decoration: none; 
    font-family: cursive;
  }
  
  .li__container:hover{
    transition: .5s ease;
    background-color: #61DAFA;
  }
  
  .status__icon{
    color: green;
  }

  .status__icon-dead{
    color: red;
  }

  .status__icon-unknown{
    color: black;
  }