.container__card{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .card:hover {
    transition: .5s ease;
    background-color: #61DAFA;
  }

  .span:hover{
    background-color: #e1e0e0;
    transition: .3s ease;
  }

  .span{
    width: 100%;
    text-align: center;
    font-family: cursive;
  }
